<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .password-control {
            position: absolute;
            top: 11px;
            right: 25px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
        }
        .password-control.view {
            background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
        }
    </style>
</head>
<body>
<div class="text-center">
    <a class="btn" href="/" th:href="@{/}">Send Email</a>
    <a class="btn btn-primary" href="/receive" th:href="@{/receive}">Receive Emails</a>
</div>
<div class="container">
    <form class="mt-2" th:action="@{/receive}" method="post" enctype="multipart/form-data">
        <div class="row form-group">
            <div class="col-sm-3">Username (email)</div>
            <div class="col-sm-9">
                <input type="text" name="username" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">Password</div>
            <div class="col-sm-9">
                <input type="password" id="password-input" name="password" class="form-control"/>
                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Receive</button>
        </div>
    </form>
</div>
</body>
<script>
    function show_hide_password(target){
        var input = document.getElementById('password-input');
        if (input.getAttribute('type') === 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
        }
        return false;
    }
</script>
</html>